@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background: black;
}

#side_nav {
    background: black;
    min-width: 200px;
    max-width: 200px;
}

.sidebar li.active {
    background: white;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: black;
}

.sidebar li a {
    color: white;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: white;
}

#map {
    height: 480px;
}